<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Detalhes da Consulta</h3>
                    </div>
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                        type="triangle-skew-spin" [fullScreen]="true">
                        <p style="color: white" > Carregando... </p>> 
                    </ngx-spinner>
                    <div class="card-body">
                        <form [formGroup]="schedulingDetailsForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cliente</mat-label>
                                        <input matInput type="text" formControlName="customerName" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Data da Consulta</mat-label>
                                        <input matInput type="text" mask="00/00/0000" maxlength="10" formControlName="date" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Horário</mat-label>
                                        <input matInput type="text" formControlName="timeTable" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de Serviço</mat-label>
                                        <mat-select formControlName="serviceType" (selectionChange)="getServiceType()" required>
                                            <mat-option *ngFor="let option of serviceTypes" [value]="option.id">{{ option.name }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('serviceType').dirty || schedulingDetailsForm.get('serviceType').touched
                                                && schedulingDetailsForm.get('serviceType').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Status</mat-label>
                                        <input matInput type="text" formControlName="status" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                            [disabled]="schedulingDetailsForm.invalid"
                            (click)="update(schedulingDetailsForm.value)">Atualizar</button>

                            <button mat-raised-button type="submit" class="btn btn-default pull-right"
                            style="margin-right: 10px;" [routerLink]="['/scheduling']">Voltar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  