<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Detalhes da Consulta</h3>
                    </div>
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                        type="triangle-skew-spin" [fullScreen]="true">
                        <p style="color: white" > Carregando... </p>> 
                    </ngx-spinner>
                    <div class="card-body">
                        <form [formGroup]="schedulingDetailsForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cliente</mat-label>
                                        <input type="text" matInput [formControl]="schedulingDetailsForm.get('customer')" [matAutocomplete]="auto" 
                                                [value]="scheduling ? scheduling.customerName : ''" requiredrequired>
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                                                {{ customer.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('customer').dirty || schedulingDetailsForm.get('customer').touched
                                                && schedulingDetailsForm.get('customer').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Data da Consulta</mat-label>
                                        <input matInput [matDatepicker]="datePicker" [placeholder]="'Data da Consulta'" 
                                            formControlName="date" name="datepicker" required>
                                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datePicker></mat-datepicker>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('date').dirty || schedulingDetailsForm.get('date').touched
                                                && schedulingDetailsForm.get('date').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Horário</mat-label>
                                        <input matInput type="time" min="00:00" max="23:59" formControlName="timeTable" required>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('timeTable').dirty || schedulingDetailsForm.get('timeTable').touched
                                                && schedulingDetailsForm.get('timeTable').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de Serviço</mat-label>
                                        <mat-select formControlName="serviceTypeId" (selectionChange)="getServiceType()" required>
                                            <mat-option *ngFor="let option of serviceTypes" [value]="option.id">{{ option.name }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('serviceTypeId').dirty || schedulingDetailsForm.get('serviceTypeId').touched
                                                && schedulingDetailsForm.get('serviceTypeId').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                            [disabled]="schedulingDetailsForm.invalid"
                            (click)="update(schedulingDetailsForm.value)">Atualizar</button>

                            <button mat-raised-button type="submit" class="btn btn-default pull-right"
                            style="margin-right: 10px;" [routerLink]="['/scheduling']">Voltar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  