<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Detalhes da Consulta</h3>
                    </div>
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                        type="triangle-skew-spin" [fullScreen]="true">
                        <p style="color: white" > Carregando... </p>> 
                    </ngx-spinner>
                    <div class="card-body">
                        <form [formGroup]="schedulingDetailsForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cliente</mat-label>
                                        <input type="text" matInput [formControl]="schedulingDetailsForm.get('customer')" [matAutocomplete]="auto" 
                                                [value]="scheduling ? scheduling.customerName : ''" requiredrequired>
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                                                {{ customer.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('customer').dirty || schedulingDetailsForm.get('customer').touched
                                                && schedulingDetailsForm.get('customer').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Data da Consulta</mat-label>
                                        <input matInput [matDatepicker]="datePicker" [placeholder]="'Data da Consulta'" 
                                            formControlName="date" name="datepicker" required>
                                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datePicker></mat-datepicker>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('date').dirty || schedulingDetailsForm.get('date').touched
                                                && schedulingDetailsForm.get('date').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Horário</mat-label>
                                        <input matInput type="time" min="00:00" max="23:59" formControlName="timeTable" required>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('timeTable').dirty || schedulingDetailsForm.get('timeTable').touched
                                                && schedulingDetailsForm.get('timeTable').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de Serviço</mat-label>
                                        <mat-select formControlName="serviceTypeId" (selectionChange)="getServiceType()" required>
                                            <mat-option *ngFor="let option of serviceTypes" [value]="option.id">{{ option.name }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="schedulingDetailsForm.get('serviceTypeId').dirty || schedulingDetailsForm.get('serviceTypeId').touched
                                                && schedulingDetailsForm.get('serviceTypeId').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button (click)="openFormSchedulesModal()"
                                    class="btn btn-info">Clique aqui para ver consultas</button>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                            [disabled]="schedulingDetailsForm.invalid"
                            (click)="update(schedulingDetailsForm.value)">Atualizar</button>

                            <button mat-raised-button type="submit" class="btn btn-default pull-right"
                            style="margin-right: 10px;" [routerLink]="['/scheduling']">Voltar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <ng-template #showSchedules>
    <div class="row title-form text-primary">
        <div class="col-md-12">
            <h4 mat-mat-dialog-title><b><i>{{ renderModalTitle() }}</i></b></h4>
        </div>
    </div>
    <p></p>
    <div mat-dialog-content>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let schedule of schedulesToModal">
                <mat-expansion-panel-header>
                    <b>{{schedule.date}}</b>
                </mat-expansion-panel-header>
                {{schedule.timeTables}}
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="!schedulesToModal || schedulesToModal.length == 0" style="text-align: center;">
            <span>
                Nenhum dado encontrado.
            </span>
        </div>
    </div>
</ng-template>

<ng-template #formSchedules>
    <div class="row title-form text-primary">
        <div class="col-md-12">
            <h4 mat-mat-dialog-title><b><i>Digite as datas em que deseja pesquisar</i></b></h4>
        </div>
    </div>
    <p></p>

    <form [formGroup]="addFormSchedules">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="mr-24">
                    <input matInput [matDatepicker]="initialPicker" [placeholder]="'Data Inicial'" 
                        formControlName="inicialDate" name="datepicker" required>
                    <mat-datepicker-toggle matSuffix [for]="initialPicker"></mat-datepicker-toggle>
                    <mat-datepicker #initialPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="mr-24">
                    <input matInput [matDatepicker]="finalPicker" [placeholder]="'Data Final'" 
                        formControlName="finalDate" name="datepicker" required>
                    <mat-datepicker-toggle matSuffix [for]="finalPicker"></mat-datepicker-toggle>
                    <mat-datepicker #finalPicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" class="btn btn-info pull-right"
                    [disabled]="addFormSchedules.invalid"
                    (click)="getSchedulesToModal(addFormSchedules.value)">Filtrar
                </button>
                <button mat-raised-button type="submit" class="btn btn-default pull-right"
                    style="margin-right: 10px;" (click)="cleanFilter()">Limpar
                </button>
            </div>
        </div>
    </form>
</ng-template>
  