<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Adicionar nova Consulta</h3>
                    </div>
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                        type="triangle-skew-spin" [fullScreen]="true">
                        <p style="color: white" > Carregando... </p>> 
                    </ngx-spinner>
                    <div class="card-body">
                        <form [formGroup]="addSchedulingForm">
                            <div class="row title-form text-primary">
                                <div class="col-md-12">
                                    <h5><b><i>Informações da Consulta</i></b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cliente</mat-label>
                                        <input type="text" matInput [formControl]="addSchedulingForm.get('customerId')" [matAutocomplete]="auto" required>
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                                                {{ customer.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="addSchedulingForm.get('customerId').dirty || addSchedulingForm.get('customerId').touched
                                                && addSchedulingForm.get('customerId').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Data da Consulta</mat-label>
                                        <input matInput type="text" mask="00/00/0000" maxlength="10" formControlName="date" required>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="addSchedulingForm.get('date').dirty || addSchedulingForm.get('date').touched
                                                && addSchedulingForm.get('date').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Horário</mat-label>
                                        <input matInput type="text" mask="00:00" maxlength="5" formControlName="timeTable" required>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="addSchedulingForm.get('timeTable').dirty || addSchedulingForm.get('timeTable').touched
                                                && addSchedulingForm.get('timeTable').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de Serviço</mat-label>
                                        <mat-select formControlName="serviceTypeId" (selectionChange)="getServiceType()" required>
                                            <mat-option *ngFor="let option of serviceTypes" [value]="option.id">{{ option.name }}</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="addSchedulingForm.get('serviceTypeId').dirty || addSchedulingForm.get('serviceTypeId').touched
                                                && addSchedulingForm.get('serviceTypeId').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button (click)="getSchedulesToModal()"
                                    class="btn btn-info">Clique aqui para ver consultas</button>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                            [disabled]="addSchedulingForm.invalid"
                            (click)="createScheduling(addSchedulingForm.value)">Salvar</button>

                            <button mat-raised-button type="submit" class="btn btn-default pull-right"
                            style="margin-right: 10px;" [routerLink]="['/scheduling']">Voltar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<ng-template #showSchedules>
    <div class="row title-form text-primary">
        <div class="col-md-12">
            <h4 mat-mat-dialog-title><b><i>{{ renderModalTitle() }}</i></b></h4>
        </div>
    </div>
    <p></p>
    <div mat-dialog-content>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let schedule of schedulesToModal">
                <mat-expansion-panel-header>
                    <b>{{schedule.date}}</b>
                </mat-expansion-panel-header>
                {{schedule.timeTables}}
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="!schedulesToModal || schedulesToModal.length == 0" style="text-align: center;">
            <span>
                Nenhum dado encontrado.
            </span>
        </div>
    </div>
</ng-template>