<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Detalhes do Cliente</h3>
                    </div>
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                        type="triangle-skew-spin" [fullScreen]="true">
                        <p style="color: white" > Carregando... </p>> 
                    </ngx-spinner>
                    <div class="card-body">
                        <form [formGroup]="customerDetailsForm">
                            <div class="row title-form text-primary">
                                <div class="col-md-12">
                                    <h5><b><i>Informações Pessoais</i></b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Nome</mat-label>
                                      <input matInput type="text" formControlName="name" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>CPF</mat-label>
                                        <input matInput type="text" mask="000.000.000-00" maxlength="14" formControlName="cpf" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Sexo</mat-label>
                                        <mat-select formControlName="sex" required>
                                            <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.option }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Data de Nascimento</mat-label>
                                        <input matInput type="text" mask="00/00/0000" maxlength="10" max="2999-12-31" id="datepicker" formControlName="birthDate" required>
                                        <mat-error *ngFor="let validation of validation_messages.generic">
                                            <span *ngIf="customerDetailsForm.get('birthDate').dirty || customerDetailsForm.get('birthDate').touched
                                                && customerDetailsForm.get('birthDate').hasError(validation.type)">
                                                {{ validation.message }}
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email</mat-label>
                                        <input matInput type="email" formControlName="email" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Trabalho</mat-label>
                                        <input matInput type="text" formControlName="job" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row title-form text-primary">
                                <div class="col-md-12">
                                    <h5><b><i>Telefone</i></b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div formArrayName="phones">
                                        <div *ngFor="let item of phones.controls; let i=index">
                                            <div [formGroupName]="i">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <mat-label>Tipo de Telefone</mat-label>
                                                            <mat-select formControlName="typeId" (selectionChange)="getPhoneType()">
                                                                <mat-option *ngFor="let option of phoneTypes" [value]="option.id">{{ option.name }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>DDD</mat-label>
                                                            <input matInput type="text" mask="00" maxlength="2" formControlName="ddd">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Número do Telefone</mat-label>
                                                            <input matInput type="text" mask="00000-0000" maxlength="10" formControlName="phoneNumber">
                                                        </mat-form-field>
                                                    </div>
                                                    <a type="button" (click)="removePhone(i)" matTooltip="Remover telefone" style="margin-top: 15px;">
                                                        <mat-icon>delete</mat-icon>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a type="button" (click)="addPhones()" matTooltip="Adicionar telefone">
                                        <mat-icon>add_circle</mat-icon>
                                    </a>  
                                </div>
                            </div>
                            <br>
                            <div class="row title-form text-primary">
                                <div class="col-md-12">
                                    <h5><b><i>Endereço</i></b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>CEP</mat-label>
                                        <input matInput type="text" mask="00.000-000" maxlength="10" formControlName="zipCode" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="state" required>
                                            <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cidade</mat-label>
                                        <input matInput type="text" formControlName="city" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Endereço</mat-label>
                                        <input matInput type="text" formControlName="address" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Número</mat-label>
                                        <input matInput type="text" minlength="3" maxlength="5" formControlName="addressNumber">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Bairro</mat-label>
                                        <input matInput type="text" formControlName="neighborhood" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Complemento</mat-label>
                                        <input matInput type="text" formControlName="complement">
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                            [disabled]="customerDetailsForm.invalid"
                            (click)="update(customerDetailsForm.value)">Atualizar</button>

                            <button mat-raised-button type="submit" class="btn btn-default pull-right"
                            style="margin-right: 10px;" [routerLink]="['/customer']">Voltar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  