<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Serviços</h3>
                        <button mat-fab class="add-attendance-button" matTooltip="Adicionar novo serviço"
                        
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                            type="triangle-skew-spin" [fullScreen]="true">
                            <p style="color: white" > Carregando... </p>> 
                        </ngx-spinner>
                            <mat-table [dataSource]="servicesType" class="table" *ngIf="servicesType">
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Nome</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <p class="text-trucate align-cell">{{row.name}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Ação</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let schedule" (click)="$event.stopPropagation()">
                                        <button class="btn btn-danger btn-round" (click)="confirmDialog(schedule.id)">
                                            Excluir
                                        </button>
                                    </mat-cell> 
                                </ng-container> -->

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row class="pointer" *matRowDef="let row; columns: displayedColumns">
                                </mat-row>

                            </mat-table>
                            
                            <div *ngIf="!servicesType || servicesType.length == 0" style="text-align: center;">
                                <span>
                                    Nenhum dado encontrado.
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>