<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Serviços</h3>
                        <button mat-fab class="add-attendance-button" matTooltip="Adicionar novo serviço"
                            (click)="openAddModal()"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                            type="triangle-skew-spin" [fullScreen]="true">
                            <p style="color: white" > Carregando... </p>> 
                        </ngx-spinner>
                            <mat-table [dataSource]="servicesType" class="table" *ngIf="servicesType">
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Nome</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <p class="text-trucate align-cell">{{row.name}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Ação</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
                                        <button class="btn btn-danger btn-round" (click)="confirmDialog(row.id)">
                                            Excluir
                                        </button>
                                    </mat-cell> 
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row class="pointer" *matRowDef="let row; columns: displayedColumns">
                                </mat-row>

                            </mat-table>
                            
                            <div *ngIf="!servicesType || servicesType.length == 0" style="text-align: center;">
                                <span>
                                    Nenhum dado encontrado.
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #createServiceType>
    <div class="row title-form text-primary">
        <div class="col-md-12">
            <h4 mat-mat-dialog-title><b><i>Adicionar novo Tipo de Serviço</i></b></h4>
        </div>
    </div>
    <p></p>
  
    <form [formGroup]="addForm">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Serviço</mat-label>
                    <input matInput type="text" formControlName="name" required>
                    <mat-error *ngFor="let validation of validation_messages.generic">
                        <span *ngIf="addForm.get('name').dirty || addForm.get('name').touched
                            && addForm.get('name').hasError(validation.type)">
                            {{ validation.message }}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" class="btn btn-info pull-right"
                    [disabled]="addForm.invalid"
                    (click)="create(addForm.value)">Salvar
                </button>
        
                <button mat-raised-button type="submit" class="btn btn-default pull-right"
                    style="margin-right: 10px;" [mat-dialog-close]="true">Voltar
                </button>
                
            </div>
        </div>
    </form>  
</ng-template>

<ng-template #deleteServiceType>
    <div>
        <div class="row title-form text-primary">
            <div class="col-md-12">
                <h4 mat-mat-dialog-title><b><i>Confirmar ação</i></b></h4>
            </div>
        </div>
        <p></p>
        <div mat-dialog-content>
            <b>
                <p>Você realmente deseja excluir esse tipo de serviço?</p>
            </b>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                (click)="sendResponse(true)">Confirmar</button>
    
            <button mat-raised-button type="submit" class="btn btn-default pull-right" [mat-dialog-close]
                style="margin-right: 10px;">Cancelar</button>
        </div>
    
    </div>
</ng-template>