<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title ">Clientes</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <div class="spinner" *ngIf="loading">
                            <mat-spinner diameter="60"></mat-spinner>
                        </div>
                            <mat-table [dataSource]="customers" class="table" *ngIf="customers">
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Nome</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <p class="text-trucate">{{customer.Name}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cpf">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">CPF</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <p class="text-trucate">{{customer.Cpf}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="birthDate">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Data de nascimento</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <p class="text-trucate">{{customer.BirthDate}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Status</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <div [ngStyle]="{'color': customer.IsActive ? '#2EFE2E' : '#d3d3d3' }">
                                            <button mat-icon-button>
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row class="pointer" *matRowDef="let customer; columns: displayedColumns"
                                [routerLink]="['/customer-details']"
                                [queryParams]="{customerId: customer.Id}">
                                </mat-row>

                            </mat-table>


                            <div *ngIf="!customers || customers.data.length == 0" style="text-align: center;">
                                <span>
                                    Nenhum dado encontrado.
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  