.pointer {cursor: pointer;}

.add-customer-button {
    position: absolute;
    right: 10px;
    bottom: 7px;
    z-index: 10;
    color: red;
    background-color: white;
}

.align-cell {
    margin-top: 10px;
}

.toggle-style {
    margin-top: 10px;
    margin-left: 17px;
}