<div class="main-content">

    <form class="navbar-form">
        <div class="row">
            <div class="col-md-3">
                <mat-slide-toggle class="pr-24 toggle-style" color="warn" [checked]="!onlyActives" (change)="toggleStatus()">
                    Mostrar inativos
                </mat-slide-toggle>
            </div>

            <div class="input-group col-md-5">
                <input (keydown.enter)="searchCustomers()" matInput type="text" value="" class="form-control" #search placeholder="Pesquisar..." #search>
        
                <button (click)="searchCustomers()" mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" matTooltip="Pequisar">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Clientes</h3>
                        <button mat-fab class="add-customer-button" matTooltip="Adicionar novo cliente"
                        [routerLink]="['/customer-create']">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" 
                            type="triangle-skew-spin" [fullScreen]="true">
                            <p style="color: white" > Carregando... </p>> 
                        </ngx-spinner>
                            <mat-table [dataSource]="customers" class="table" *ngIf="customers">
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Nome</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <p class="text-trucate align-cell">{{customer.name}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cpf">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">CPF</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <p class="text-trucate align-cell">{{customer.cpf | cpf}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="birthDate">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Data de nascimento</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <p class="text-trucate align-cell">{{customer.birthDate}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Status</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer">
                                        <div [ngStyle]="{'color': customer.isActive ? '#2EFE2E' : '#d3d3d3' }">
                                            <button mat-icon-button>
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action" *ngIf="!onlyActives">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Ação</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer" (click)="$event.stopPropagation()">
                                        <button class="btn btn-info btn-round" (click)="confirmDialog(customer.id)">
                                            Ativar
                                        </button>
                                    </mat-cell> 
                                </ng-container>

                                <ng-container matColumnDef="action" *ngIf="onlyActives">
                                    <mat-header-cell *matHeaderCellDef>
                                        <b style="font-size: medium;">Ação</b>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let customer" (click)="$event.stopPropagation()">
                                        <button class="btn btn-danger btn-round" (click)="confirmDialog(customer.id)">
                                            Desativar
                                        </button>
                                    </mat-cell> 
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row class="pointer" *matRowDef="let customer; columns: displayedColumns"
                                [routerLink]="['/customer-details']"
                                [queryParams]="{customerId: customer.id}">
                                </mat-row>

                            </mat-table>
                            
                            <div *ngIf="customers" class="card-footer pb-0 pt-3" style="margin-top: 60px;">
                                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                    <li>
                                        <a [routerLink]="['/customer']" [queryParams]="{ page: 1}" matTooltip="Primeira página"
                                        [ngClass]="{disable:pager.currentPage === 1}">
                                            <mat-icon>first_page</mat-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/customer']" [queryParams]="{ page: pager.currentPage - 1 }" matTooltip="Anterior"
                                        [ngClass]="{disable:pager.currentPage === 1}">
                                            <mat-icon>keyboard_arrow_left</mat-icon>
                                        </a>
                                    </li>
                                    <li *ngFor="let page of pager.pages">
                                        <a [routerLink]="['/customer']" [queryParams]="{ page: page }"
                                        [ngClass]="{active:pager.currentPage === page}"><b>{{page}}</b>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/customer']" [queryParams]="{ page: pager.currentPage + 1 }" matTooltip="Próxima"
                                        [ngClass]="{disable:pager.currentPage === pager.totalPages}">
                                            <mat-icon>keyboard_arrow_right</mat-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/customer']" [queryParams]="{ page: pager.totalPages }" matTooltip="Última página"
                                        [ngClass]="{disable:pager.currentPage === pager.totalPages}">
                                            <mat-icon>last_page</mat-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <div *ngIf="!customers || customers.length == 0" style="text-align: center;">
                                <span>
                                    Nenhum dado encontrado.
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- <ng-template #confirmModal>
    <div class="page-layout carded fullwidth">
        <mat-toolbar class="mat-accent m-0">
          <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Confirmar ação</span>
          </mat-toolbar-row>
        </mat-toolbar>
      
        <div>
          <div mat-dialog-content class="m-0 h">
            <div style="padding: 10px;">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="p-4" fxFill>
                  <p>Você deseja confirmar essa ação?<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
          <button type="button" mat-raised-button color="basic" fxFlex="15" class="mr-16"
            [[mat-dialog-close]]>Cancelar</button>
          <button mat-raised-button class="save-button mat-accent" fxFlex="15"
            >Confirmar</button>
        </div>
      </div>
 
</ng-template> -->
  